#prod {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.bot {
    border-style: none;
    background-color: #696969;
    padding: 8px 4px;
}

#fil {
    border-style: none;
    background-color: #848484;
    border-radius: 12px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

#produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 80px;
}

.produto {
    background-color: #39414E;
    padding: 30px;
    height: 250px;
    border-radius: 12px;
}

.produto:hover {
    box-shadow: 8px 8px #001F3F;
    transition: 0.8s;
    cursor: pointer;
}

#filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#filt {
    background-color: #696969;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

#esq {
    padding: 0px 20px 0px 20px;
}

#dir {
    padding: 0px 20px 0px 20px;
}

#filt:hover {
    box-shadow: 4px 4px #ABABAB;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

#filtragem {
    /* display: none; */
    background-color: #848484;
    padding: 20px;
    border-radius: 12px;
}

#parte {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    display: none;
}

#espaco {
    /* display: none; */
    background-color: #848484;
    padding: 5px 15px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

#botao-filtrar {
    background-color: #696969;
    border-style: none;
    padding: 6px;
    border-radius: 12px;
    margin-left: 16px;
}

#botao-filtrar:hover {
    box-shadow: 2px 2px #ABABAB;
    transition: 0.5s;
}

.form label {
    margin-right: 8px;
}

.form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}