#cadastrar-se {
    background-color: #002D5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(16vh + 1px) 16vw;
}

#informacoes {
    background-color: #001F3F;
    padding: calc(29vh + 1px) 18vw;
}

#tabela {
    background-color: #656565;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

#cad {
    display: flex;
    flex-direction: row;
}

.inputs {
    margin: 10px;
    background-color: #B6AAAA;
    border-style: none;
    border-radius: 12px;
    padding: 8px;
}

#cadas {
    background-color: #B6AAAA;
    border-style: none;
    border-radius: 20px;
    padding: 8px 18px;
    margin: 0px 12px;
    margin: 10px;
}

#cadas:hover {
    box-shadow: 2px 2px #C8C8B4;
    transition: 0.4s;
}

#terninho {
    height: 400px;
}

#palavra {
    margin-bottom: 150px;
    color: white;
    font-size: 40px;
}